:root {
  --primary-color: #000000;
  --secondary-color: rgb(21, 21, 21);
  --header-text-color: yellow;
  --text-color: #000000;
  --checkbox-color-1: yellow;
  --checkbox-color-2: #000000;
}

@font-face { 
  font-family: StarWars; 
  src: url('./fonts/STJEDISE.TTF') 
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.a, .a:visited {
  color: inherit;
  text-decoration: underline;
}


.a:hover {
  text-decoration: none;
}

.header {
  font-family: StarWars;
  background-color: var(--primary-color);
  color: var(--header-text-color);
  padding: 1rem;
  text-align: center;
}


.h1 {
  margin: 0;
  font-size: 3rem;
}

.main {
  padding: 1rem;
}

.checklist {
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--header-text-color);
  font-family: StarWars;
}

.ul {
  list-style: none;
  padding: 0;
  color: var(--header-text-color)
}

.li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.row-container {
  display: flex;
  align-items: center;
}

.ep-num, .ep-count {
  flex-shrink: 0;
  min-width: 100px;
}


/* Custom checkbox styles */
.checkbox-wrapper-4 * {
  box-sizing: border-box;
}
.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}
.checkbox-wrapper-4 .cbx:not(:last-child) {
  margin-right: 6px;
}
.checkbox-wrapper-4 .cbx:hover {
  background: rgba(0, 119, 255, 0.06);
}
.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}
.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: var(--checkbox-color-2); /* Color mark */
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: var(--checkbox-color-1);
}
.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: var(--checkbox-color-1);
  border-color: var(--checkbox-color-1);
  animation: wave-4 0.4s ease;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}
